<header class="page-header">
  <div class="container row">
    <div class="col-md-3 page-header-inner">
      <img src="/images/profile.jpg" style="max-width:140px; border-radius: 50%;">
    </div>
    <div class="col-md-9">
      <div class="page-header-inner">
        <div class="page-header-main">Евгений Дементьев</div>
        <div class="breadcrumb"><strong>Инженер-разработчик ПО <!--br>Software developer and architect--></strong></div>
        <div class="breadcrumb">Создание и поддержка информационных систем</div>

        <div class="mt-1"><span class="far fa-envelope t-info"></span> devg@ya.ru</div>
        <div class=""><span class="fab fa-github t-primary"></span> <a href="https://github.com/devgkz"
            target="_blank">devgkz</a></div>        
      </div>
    </div>
  </div>
</header>
