<div class="header header-fixed" style="/*position:fixed; top:0;left:0;right:0*/">
  <div class="header-inner row -gapless">

    <div class="col-md-2">
      <div class="logo">
        <a class="logo__link" href="/">My profile</a>
        <!--div class="nav-trigger">Menu <span></span></div-->
      </div>

    </div>

    <!--ul id="responsive-nav" class="nav col-md-10 show-md">
          <li class="nav__item right"><a class="nav__link active" href="#tabs">🇷🇺 RU</a></li>
          <li class="nav__item right"><a class="nav__link" href="#tabs">🇷🇸 SR</a></li>
          <li class="nav__item right"><a class="nav__link" href="#tabs">🇺🇸 EN</a></li>               
      </ul-->
  </div>
</div>