/*! Typography */
html {
    font-size: $font-size-base;
}
body {
  background: $body-bg;
  color: $gray-dark;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}
/* Default margins */
p, ul, ol, dl, h1, h2, h3, h4, h5, h6,
blockquote, pre, form, table {
  margin: .67em 0 0;
}
/* No top margin to interfere with box padding */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
blockquote:first-child,
pre:first-child,
form:first-child,
table:first-child {
  margin-top: 0;
}
/* Headings: desired line height in px / font size = unitless line height */
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  color: $gray-dark;
  font-weight: normal;
  text-transform: none;
  margin: 1em 0 0.7em 0;
}

h1 {
  font-size: 28px;
  line-height: 1.2;
}
h2 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
  color: #f33;
}
h3 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}
h4 {
  font-size: 16px;
  line-height: 1.2;
  margin: 1rem 0 0 0;
}
h5 {
  font-size: 14px;
  font-weight: bold;
  line-height: $line-height-base;
  margin: 1rem 0 0 0;
}
h6 {
  color: #707070;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}

/* p:last-child {
  margin-bottom: 0;
} */


/* Nice styles for using subheadings */
h1 + h2, h2 + h3, h3 + h4,
h4 + h5, h5 + h6 {
  margin-top: .7rem;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;
}
/* a:focus,  */a:hover, a:active {
  text-decoration: $link-hover-decoration;
}


/* Other typographical elements */
small {
  color: #707070;
  font-size: $font-size-small;
  //line-height: 1.3;
}
code, kbd {
  font-family: $font-family-mono;
  font-size:$font-size-mono;
  background: $gray-lightest;
  border-radius: 3px;
  padding: 2px 4px;
  border:1px solid rgba(0,0,0,0.05);
}

pre code {
  color: #000;
  display: block;
  padding: 1rem;
  overflow:auto;
}

var, address, dfn, cite {
  font-style: italic;
}
cite:before {
  content: "\2014 \2009";
}
blockquote {
  border-left: 0.25rem solid rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.05);
  color: $gray-dark;
  //margin-left: 19px;
  padding: .7em 1em;
}
blockquote > cite {
  display: block;
  margin-top: .7rem;
}
q { color: #707070; }
q:before { content: open-quote; }
q:after  { content: close-quote; }

abbr {
  border-bottom: 1px #707070 dotted;
  cursor: help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border:0;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
}
